.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 452px;
  height: 48px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #7785db;
  border-style: solid;
}

.input-label {
  font-size: 12px;
  margin: 0px;
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 4px;
}

.input {
  border: 0px transparent;
  padding-left: 6px;
  font-size: 16px;
}

.input:focus {
  outline: none;
}
