.list-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 732px;
  height: 58px;
  background-color: #7785db;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 0 12px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
  margin-right: 12px;
}

.list-card-text-container {
  display: flex;
  width: 96%;
  flex-direction: column;
}

.list-card-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.list-card-subtitle {
  font-size: 16px;
}

.arrow-icon {
  width: 6px;
  height: 12px;
  object-fit: contain;
}
